* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .App {
    height: 100vh;
    width: 100vw;
    font-family: cursive;
    background-color: #3498db;
  }
  .center-part {
    display: flex;
    flex-direction: column;
  }
  
  .title {
    display: flex;
    flex-direction: row;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  h1 {
    align-self: start;
    font-size: 2.5rem;
    color: #f7dc6f;
  }
  
  .button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 0.8rem;
    font-family: cursive;
    width: 200px;
    font-size: 1.2rem;
    font-weight: bolder;
    border-radius: 0.7rem;
    border-style: none;
    background-color: #9b59b6; 
    color: #ffffff;
    margin-top: 4px;
    margin-left: 55%;
  }
  
  .button:hover {
    border: 2px solid #333333;
    cursor: pointer;
  }
  
  .cards {
    display: grid;
    margin: auto;
    margin-top: 3rem;
    grid-template-columns: repeat(4, 9rem);
    place-items: center;
    row-gap: 2rem;
  }
  
  .stats {
    padding: 0.25rem 1rem;
    background-color: #f2f2f2;
    margin: auto;
    margin-top: 40px;
    text-align: center;
    border-radius: 2rem;
  }
  
  .face {
    height: 6rem;
  }
  
  .back {
    height: 6rem;
    width: 6rem;
    background-color: #ffd700; 
    color: #333333; 
    border: 1px solid #666666; 
    border-radius: 50%;
  }
  
  .item .face {
    position: absolute;
    transform: rotateX(90deg);
    transition: all ease-in 0.25s;
  }
  
  .toggled .face {
    transform: rotateX(0deg);
    transition-delay: 0.25s;
  }
  
  .item .back {
    transition: all ease-in 0.25s;
    transition-delay: 0.25s;
  }
  
  .toggled .back {
    transform: rotateX(90deg);
    transition-delay: 0s;
  }